body {
  margin:0;
  background: #1D1F21;
  background: linear-gradient(90deg, #3B0000, #000000);
  font-size: 100%;
  z-index: -150;
}

.upward_button {
    position: fixed;
    bottom:20px;
    right:2%;
    background: url('./sources/arrow_up.png') no-repeat;
    width:60px;
    height:60px;
    z-index: 10000;
}

/* cloud background */

/* midground (clouds) */
#parallax-bg2 {
	z-index: -10;
	position: fixed;
	left: 50%; /* align left edge with center of viewport */
	top: 0;
	width: 1200px;
	margin-left: -600px; /* move left by half element's width */
	}
	#bg2-1 {
		position: absolute;
		top: 162px;
		left: 200px;
		}
	#bg2-2 {
		position: absolute;
		top: 300px;
		left: 1150px;
		}
	#bg2-3 {
		position: absolute;
		top: 543px;
		left: -35px;
		}
	#bg2-4 {
		position: absolute;
		top: 1180px;
		left: 250px;
		}
	#bg2-5 {
		position: absolute;
		top: 900px;
		left: 890px;
		}
  #bg2-6 {
  	position: absolute;
  	top: 1300px;
  	left: 180px;
  	}
  #bg2-7 {
  	position: absolute;
  	top: 1480px;
  	left: 1000px;
  	}
/* background (clouds) */
#parallax-bg1 {
	z-index: -20;
	position: fixed;
	left: 50%; /* align left edge with center of viewport */
	top: 0;
	width: 1200px;
	margin-left: -600px; /* move left by half element's width */
	}
	#bg1-1 {
		position: absolute;
		top: 85px;
		left: -270px;
		}
	#bg1-2 {
		position: absolute;
		top: 440px;
		left: 795px;
		}
	#bg1-3 {
		position: absolute;
		top: 900px;
		left: -220px;
		}
	#bg1-4 {
		position: absolute;
		top: 1020px;
		left: 450px;
		}
  #bg1-5 {
    position: absolute;
    top: 1420px;
    left: 600px;
  }
  #bg1-6 {
  	position: absolute;
  	top: 1520px;
  	left: 100px;
  }

#left_logo {
  z-index: 2;
  position: fixed;
  top: 2%;
  left: 5%;
}

#tf_logo {
  z-index: 2;
  position: fixed;
  top: 2%;
  right: 5%;
}

#close {
  z-index: 2;
  position: fixed;
  top: 3%;
  right: 1%;
  text-align: right;
}

#videowrapper {
  /* this code makes possible that video fixed on top */
  margin:0;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 0px;
  top: 0px;
  left: auto;
  z-index: 1;
}

#videowrapper video {
  margin: 0;
  padding: 0,0,0,0;
  position: absolute;
  top: 50%;
  left: 50%;
  /* for mobile 320 x 568: iphone 5 */
  /*
  min-width: 320px;
  min-height: 180px;
  max-width: 100%;
  max-height: 100%;*/

  width: 100%;
  height: auto;
  transform: translateX(-50%)
  translateY(-50%);
  background: url('') no-repeat;
  background-size: cover;
  transition: 1s opacity;
  z-index: -100;
}

.stopfade {
  opacity: .5;
}

/* s1 whole wrapper */
#s1 {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#s1_title {

  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight: 100;
  background: rgba(0,0,0,0.4);
  color: white;
  padding: 2rem;
  margin-top: 11%;
  margin-right: 3%;
  margin-left: 5%;
  float: right;
  font-size: 1em;
  /* scroll contents */
  overflow-y: auto;
  overflow-x: hidden;
  height: 290px;
  width: 44%;

  z-index: 5000;

  /* fade-in events */
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;

}

#s1_title h1 {
  /*margin-top:-35px;
  margin-bottom: -10px;*/
}

#s1_contents {
  font-size: 1em;
  text-align: justify;
  height: auto;
}

#a_button {
  width: 180px;
}

.button {
  padding: 8px;
  background: rgba(0,0,0,0.0);
  color: #ffb1b1;
  border: 2px solid #ffb1b1;
  text-align: center;
  margin-top: 5%;
  font-family: 'Nanum Gothic';
}

.button:hover {
  padding: 8px;
  background: rgba(0,0,0,0.0);
  color: #ff3b3b;
  border: 2px solid #ff3b3b;
  text-align: center;
}

/* SLIDE 2 WRAPPER */
#s2 {
  position: relative;
  width: 100%;
  top: 5px;
  overflow: hidden;
}

#s2_bg1 {
  position: relative;
  float:right;
  right: 0px;
  width: 40%;
  z-index: 2;
}

#s2_bg2 {
  position: relative;
  float: left;
  width: 40%;
  z-index: 1;
}

#s2_descbox {
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight: 100;
  background: rgba(0,0,0,0.6);
  color: white;
  padding: 2rem;
  margin-top: 10%;
  margin-left: 5%;

  float: left;
  font-size: 1em;

  position: absolute;
  z-index: 4;

  /* scroll contents */
  overflow-y: auto;
  overflow-x: hidden;
  width: 50%;

  opacity: 0;
}

/* SLIDE 3 WRAPPER */
#s3 {
  position: relative;
  width: 100%;
  height: auto;
  top: 5px;
  overflow: hidden;
}

/* Review 1 Pic & Desc */
#s3_review1_pic {
  position: relative;
  float:left;
  width: 40%;
  height: auto;
  margin-top: 5%;
  margin-left: 11%;
  margin-right: 5%;
  margin-bottom: 2%;
  z-index: 5;
}

#review1_pic {
  position: relative;
  max-width: 80%;
  z-index: 3;
}

#review1_pic:hover {
  content: url('./media_pics/slide3/r_item1_hover.png');
}

#s3_review_d1 {
  position: relative;
  float:left;
  width: 35%;
  height: auto;
  margin-top: 0%;
  margin-left: 5%;
  margin-bottom: 5%;

  padding: 2rem;
}

#r1_button {
  width: 100px;
}

/* Review 2 Pic & Desc */
#s3_review2_pic {
  position: relative;
  float:left;
  width: 40%;
  height: auto;
  margin-top: 5%;
  margin-bottom: 2%;
  z-index: 5;
}


#review2_pic {
  position: relative;
  max-width: 80%;
  z-index: 3;
}

#s3_review_d2 {
  position: relative;
  float:right;
  width: 33%;
  height: auto;
  margin-top: 0%;
  margin-left: 2%;
  margin-right: 8%;
  margin-bottom: 5%;

  padding: 2rem;
}

#review2_pic:hover {
  content: url('./media_pics/slide3/r_item2_hover.png');
}

#r2_button {
  width: 100px;
}

#maison_description {
  width: 40%;
  align: left;
  margin-left: 40%;
  background-color: rgba(255,255,255,0.5);

  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 1.3rem;
  /*color: white;*/
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
}

.review_text {
  z-index: 5;
  background-color: rgba(0,0,0,0.5);

  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;

  color: white;
  font-size: 1rem;
  /*font-style: italic;*/
}

/* fade-in option : CSS3 required */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

img {
  border: none;
}

a:link {
  text-decoration: none;
}

.fade {
  opacity: 1;
}

.nanumgothic {
  color: white;
}

.nanummyeonjo {
  color: white;
}

/* for blur effect */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

.blur-it {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.head {
  width: 90%;
  height: 32px;
  padding: 12px 30px;
  overflow: hidden;
  background: #e2525c;
}

.modal {
  width: 600px;
  height: 400px;
  display: block;
  margin: 50% 0 0 -300px;
  position: relative;
  top: 50%;
  left: 50%;
  background: #fff;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 100;
}

.modal-review-1 {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(41, 171, 164, 0.2);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.modal-review-1.open {
  opacity: 1;
  visibility: visible;
}

.modal-review-1.open .modal {
  margin-top: -200px;
  opacity: 1;
}

.modal-review-2 {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(41, 171, 164, 0.2);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  z-index: 100;
}

.modal-review-2.open {
  opacity: 1;
  visibility: visible;
}

.modal-review-2.open .modal {
  margin-top: -200px;
  opacity: 1;
}
